* {
    /* border: 0.5px solid red; */
}
#sidebar {
    border-right: 2px solid #0C6DFD;
}
h4, h5 {
    color: #FFFFFF;
}
.nav-text, .modal-title {
    color: #FFFFFF;
}
.card {
    /* background-color: #343A3F; */
    background-color: #16181C;
}
label, td, text, tspan {
    color: #FFFFFF;
}
.form-control, .form-select-sm {
    color: #FFFFFF;
    background-color: #212529;
}
input[type=search] {
    color: #FFFFFF;
    background-color: #212529;
}
.btn-primary {
    background-color: rgb(29, 155, 240) !important;
}
.btn-primary:hover {
    background-color: #0b5ed7 !important;
}
.bi-plus-square {
    color: rgb(29, 155, 240) !important;
}
.bi-plus-square:hover {
    color: #0b5ed7 !important;
}
.bi-house, .bi-gear {
    color: #FFFFFF;
}
.modal-content {
    background-color: #343A3F !important;
}